:root.dark {
  --text-0: rgb(239.85, 239.85, 239.85);
  --text-1: #ababab;
  --text-2: #787878;
  --bg-0: #121212;
  --bg-1: rgb(30.75, 30.75, 30.75);
  --bg-2: rgb(56.25, 56.25, 56.25);
  --border-color: var(--bg-2);
  --primary-color: #ef5350;
  --hover-color: white;
  --icon-filter: invert(1);
}
:root.dark .social > img, :root.dark .search-button > img {
  filter: invert(1);
}