:root.light {
  --text-0: rgb(33.15, 33.15, 33.15);
  --text-1: #666666;
  --text-2: rgb(178.5, 178.5, 178.5);
  --bg-0: #fff;
  --bg-1: rgb(249.9, 249.9, 249.9);
  --bg-2: rgb(237.15, 237.15, 237.15);
  --border-color: var(--bg-2);
  --primary-color: #ef5350;
  --hover-color: white;
  --icon-filter: none;
}