---
layout: layouts/base.njk
title: Blog
permalink: /blog/index.html
eleventyExcludeFromCollections: true
---
<main>
  <article>
    <section class="body">
      <div class="page-header">Blog moved</div>
      <p>This page moved to <a href="/posts/">/posts/</a>.</p>
    </section>
  </article>
</main>
