---
layout: layouts/base.njk
title: Search
permalink: /search/
---
<main>
  <article>
    <section class="body">
      <div class="page-header">Search</div>
      <div id="search"></div>
    </section>
  </article>
</main>
<link rel="stylesheet" href="/pagefind/pagefind-ui.css">
<script src="/pagefind/pagefind-ui.js"></script>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    if (!window.PagefindUI) return;
    new window.PagefindUI({
      element: "#search",
      showSubResults: true,
      resetStyles: false
    });
  });
</script>
