{% macro pageHeader(title) %}
{% if title %}
<div class="page-header">{{ title }}</div>
{% endif %}
{% endmacro %}

{% macro postList(pages) %}
<ul>
  {% for post in pages %}
  <li class="list-item">
    <section>
      <div class="post-header">
        <time>{{ post.date | readableDate("yyyy-LL-dd") }}</time>
        <div>
          <h1 class="title">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            {% if post.data.draft %}
            <span class="draft-label">DRAFT</span>
            {% endif %}
          </h1>
          <div class="meta">
            {% if post.data.description %}
            <div class="description">{{ post.data.description }}</div>
            <a class="readmore" href="{{ post.url }}">Read more ⟶</a>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </li>
  {% endfor %}
</ul>
{% endmacro %}
